<div class="container rounded bg-white  mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold"></span>
            <span class="text-black-50"></span>
          </div>
      </div>
      <div class="col-md-5 border-right">
          <form [formGroup]="UserData" (ngSubmit)="handleSubmit()" class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Edit My Profile</h4>
              </div>
              <div class="row mt-2 mb-4">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="fname" name="fname"  value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['fname']?.invalid">
                      <div *ngIf="EditData?.['fname']?.errors?.['required']">
                        First Name is required.
                      </div>
                      <div *ngIf="EditData?.['fname']?.errors?.['minlength']">
                        Min length of First Name is 3 .
                      </div>
                      <div *ngIf="EditData?.['fname']?.errors?.['maxlength']">
                        Max length of First Name is 10 .
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Last name" formControlName="lname"  name="lname" value="" >
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['lname']?.invalid ">
                      <div *ngIf="EditData?.['lname']?.errors?.['required']">
                        Last Name is required.
                      </div>
                      <div *ngIf="EditData?.['lname']?.errors?.['minlength']">
                        Min length of Last Name is 3 .
                      </div>
                      <div *ngIf="EditData?.['lname']?.errors?.['maxlength']">
                        Max length of Last Name is 10 .
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12 mb-4">
                    <input type="number" class="form-control" placeholder="Age" formControlName="age" name="age"    value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['age']?.invalid">
                      <div *ngIf="EditData?.['age']?.errors?.['required']">
                        Age is required.
                      </div>
                      <div *ngIf="EditData?.['age']?.errors?.['min']">
                        Min length of Age is 12 .
                      </div>
                      <div *ngIf="EditData?.['age']?.errors?.['max']">
                        Max length of Age is 80 .
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <input type="text" class="form-control" placeholder="Username" formControlName="username"  name="username"  value=""></div>
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['username']?.invalid ">
                      <div *ngIf="EditData?.['username']?.errors?.['required']">
                        Age is required.
                      </div>
                      <div *ngIf="EditData?.['username']?.errors?.['minlength']">
                        Min length of username is 10 .
                      </div>
                      <div *ngIf="EditData?.['username']?.errors?.['maxlength']">
                        Max length of username is 20 .
                      </div>
                    </div>
                    <div class="col-md-12 mb-4">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email"  name="email"  value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['email']?.invalid">
                      <div *ngIf="EditData?.['email']?.errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="EditData?.['email']?.errors?.['email']">
                        Email Formate is unvalid.
                      </div>
                  </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"  name="password"  value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['password']?.invalid">
                      <div *ngIf="EditData?.['password']?.errors?.['required']">
                        password is required.
                      </div>
                      <div *ngIf="EditData?.['password']?.errors?.['minlength']">
                        min length of password is 3 .
                      </div>
                      <div *ngIf="EditData?.['password']?.errors?.['maxlength']">
                        min length of password is 20 .
                      </div>
                  </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <input type="text" class="form-control" placeholder="Phone Number"  name="phone" formControlName="phone"  value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['phone']?.invalid">
                      <div *ngIf="EditData?.['phone']?.errors?.['required']">
                        Phone Number is required.
                      </div>
                      <div *ngIf="EditData?.['phone']?.errors?.['minlength']">
                        min length of Phone Number is 11 .
                      </div>
                  </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <input type="text" class="form-control" placeholder="Job Title" name="titlejob"formControlName="titlejob" value="">
                    <div class="text-danger" *ngIf="isSubmitted && EditData?.['titlejob']?.invalid">
                      <div *ngIf="EditData?.['titlejob']?.errors?.['required']">
                        Title Job is required.
                      </div>
                      <div *ngIf="EditData?.['titlejob']?.errors?.['minlength']">
                        min length of Job Title is 3 .
                      </div>
                      <div *ngIf="EditData?.['titlejob']?.errors?.['maxlength']">
                        min length of Job Title is 20 .
                      </div>
                  </div>
                  </div>
              </div>
              <button class="mt-4 mb-5 text-center" type="submit">Update and Save Profile</button>
          </form>
      </div>

  </div>
</div>

