{{>header}}
{{>navbar}}
<!-- TaskNo-Title,content,duedate-status -->
<section class="container my-4">
    <div class="row">
        <form method="post">
            <h3>{{pageTitle}}</h3>
            <div class="col-6 mb-3">
                <input class="form-control" placeholder="Task Title" name="title">
            </div>
            <div class="col-6 mb-3">
                <input class="form-control" placeholder="Task Content" name="content">
            </div>
            </div>
            <div class="col-6 mb-3">
                <input type="date" class="form-control" placeholder="Due Date" name="duedate">
            </div>
            <div class="col-6 mb-3">
                <input type="text" class="form-control" placeholder="Task Status" name="status">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add Task</button>
            </div>
        </form>
    </div>
</section>
{{>footer}}