{{>header}}
{{>navbar}}
<section class="container my-4">
    <h4 class="text-primary">single Task</h4>
    <table class="table table-stripped">
        
        <tr>
           <td>Task Title: {{tasks.title}}</td>
        </tr>
         <tr>
            <td>Task Content: {{tasks.content}}</td>
         </tr>
        <tr>
            <td>Task due date: {{tasks.duedate}}</td>
        </tr>
        <tr>
            <td>Task Status: {{tasks.status}}</td>
        </tr>
        </h1>
    </table>


</section>
{{>footer}}